@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    background-color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.container {
    max-width: 100%;
    padding: 20px;
}
.title {
    color: #fff;
    margin-bottom: 10px;
}
.list {
    margin-bottom: 20px;
}
.item {
    margin-bottom: 10px;
}
.link {
    color: #fff;
    text-decoration: none;
}
