@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-color: #ebf0fc;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  /* color: #5b6780; */
  color: #100a30;
}
body.dark {
  background-color: #100a30;
  color: #fff;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.wrapper {
  max-width: 767px;
  margin: 0 auto;
  margin-top: 30px;
}
.theme {
  margin: 15px 0 0 auto;
  position: relative;
  width: 20px;
  height: 20px;
}
.theme__input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}
.theme__label {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.theme__label:before {
  position: absolute;
  content: "";
  top: 2px;
  left: 0;
  width: 15px;
  height: 20px;
  background: url("./assets/img/moon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 100;
}
.theme__label:after {
  position: absolute;
  content: "";
  top: 0;
  left: -5px;
  width: 22px;
  height: 22px;
  background: url("./assets/img/sun.svg");
  fill: #fff;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 100;
  opacity: 0;
}

.theme__input:checked + .theme__label:before {
  opacity: 0;
}
.theme__input:checked + .theme__label:after {
  opacity: 1;
}
.title {
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 20px;
}
.input {
  padding: 11px 11px 10px;
  background-color: #fff;
  border: none;
  font-size: 15px;
  line-height: 1;
}
.select {
  font-family: "Open Sans", sans-serif;
  padding: 9px 10px;
  background-color: #ebf0fc;
  border: none;
  border: 1px solid #5b6780;
  border-radius: 5px;
  font-size: 15px;
  color: #5b6780;
}
.inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.block:first-child {
  margin-right: 20px;
}
.uah {
  padding: 10px 10px 11px;
  background-color: #ebf0fc;
  border: 1px solid #5b6780;
  border-radius: 5px;
  font-size: 15px;
  color: #5b6780;
  line-height: normal;
}
.text {
  font-size: 13px;
  margin-top: 5px;
}
.clear {
  border: none;
  border: 1px solid #5b6780;
  background-color: #624de3;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  padding: 11px 11px 10px;
  line-height: 1;
}
.checkbox {
  margin-top: 30px;
  /* opacity: 0.5; */
  appearance: none;
  position: relative;
  cursor: pointer;
}
@media (max-width: 700px) {
  .inner {
    display: block;
  }
  .title {
    font-size: 15px;
  }
  .block {
    margin-bottom: 10px;
  }
  .input {
    width: 250px;
  }
  .uah {
    padding: 10px 27px 11px 16px;
  }

  .text {
    font-size: 12px;
  }
  .clear {
    width: 330px;
  }
}
@media (max-width: 430px) {
  .input {
    width: 190px;
  }
  .clear {
    width: 267px;
  }
}
